Sources/Dictionaries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="HashSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Entry">
                <xs:complexType>
                  <xs:attribute name="Value" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Dictionary">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Entry">
                <xs:complexType>
                  <xs:attribute name="SNO" type="xs:unsignedInt" use="optional" />
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                  <xs:attribute name="Keyword" type="xs:string" use="optional" />
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>